---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>Astro</h1>
  <h2>Astro</h2>
  <p>this is a test paragraph<br />this is a test paragraph</p>
  <blockquote>what are you doing</blockquote>
  <div class="bg-red-700">red</div>
  <button class="btn btn-neutral btn-square">test</button>
  <button class="btn btn-primary btn-circle">test</button>
  <button class="btn btn-primary btn-wide">test</button>
  <button class="btn btn-secondary btn-block">test</button>
</BaseLayout>
