---
import "../styles/global.css";
---

<html lang="en" data-theme="dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="prose">
		<h1>Astro</h1>
		<h2>Astro</h2>
		<p>this is a test paragraph<br>this is a test paragraph</p>
		<blockquote>what are you doing</blockquote>
		<div class="bg-red-700">red</div>
		<button class="btn btn-neutral btn-square">test</button>
		<button class="btn btn-primary btn-circle">test</button>
		<button class="btn btn-primary btn-wide">test</button>
		<button class="btn btn-secondary btn-block">test</button>
	</body>
</html>
