---
import PromoCardSimple from "./PromoCardSimple.astro";

const { promosList, promoListTitle } = Astro.props;

const visible = 5;
---

<div id="promo-list-title" class="border-y text-center">
  <h2 class="uppercase m-0! py-4 px-12">{promoListTitle}</h2>
</div>
<div id="promo-list">
  {
    promosList.map((promo: string, idx: number) => {
      return (
        <div class=`${idx >= visible ? "hidden" : ""} border-b`>
          <PromoCardSimple promo={promo} />
        </div>
      );
    })
  }
</div>
<div id="show-more-container" class="mt-2">
  <a id="show-more" class="text-primary! cursor-pointer font-semibold uppercase"
    >SHOW MORE</a
  >
</div>

<script define:vars={{ visible }}>
  const showMoreButton = document.getElementById("show-more");
  const promoListItems = document.querySelectorAll("#promo-list > div");
  const showMoreText = document.getElementById("show-more");

  showMoreButton?.addEventListener("click", () => {
    promoListItems.forEach((promoListItem, idx) => {
      if (idx >= visible) {
        promoListItem.classList.toggle("hidden");
      }
    });
    showMoreText.textContent =
      showMoreText.textContent == "SHOW MORE" ? "SHOW LESS" : "SHOW MORE";
  });
</script>
